

<h1>{{ title }}</h1><br>


<form method="POST" action="" enctype='multipart/form-data'>
	{% csrf_token %}
	<h2>Personal information</h2>
	{{ personalinfoform.as_p }}<br>

	<h2>Work Experiance</h2>
	
	{{ workexperienceformset.management_form }}
	{% for form in workexperienceformset %}
	{{ form.as_p }}<br>
	{% endfor %}

	<h2>Educational Qualification</h2>
	{{ educationformset.management_form }}
	{% for form in educationformset %}
	{{ form.as_p }}<br>
	{% endfor %}

	<h2>Skills</h2>
	{{ skillsform.as_p }}

	<input type="submit" value='{{ title }}'>
</form>

